:root {
    --font-family-site: 'Roboto', 'Arial', sans-serif;
    --brand-color:#ea625c;
    --outline:var(--brand-color);
}

/* GLOBAL  */
html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
*:focus {
    outline: 2px dashed var(--outline);
    outline-offset: 2px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: var(--font-family-site);
    font-size: 16px;
    line-height: 1.5;
    background-color: #fff;
}

img {
    max-width: 100%;
    height: auto;
}
p,h1,h2,h3,h4 {
    margin: 0;
}
ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
a {
    text-decoration: none;
}

/* CONTAINER  */
.container {
    width: 100%;
    max-width: 1050px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: auto;
    margin-right: auto;
}

/* MAIN-CONTENT */
.main-content {
    flex-grow: 1;
}
.d-flex {
    display: flex;
}

/* HEADER  */
.site-header {
    padding-top: 30px;
    padding-bottom: 79px;
}

.site-header-img-site-nav__wrapper {
    justify-content: space-between;
    align-items: center;
}
.site-logo {
    display: block;
}
.site-nav-help__wrapper {
    align-items: center;
    font-size: 15px;
}
.site-nav {
    margin-right: 40px;
}
.list-site-nav:not(:last-child) {
    margin-right: 30px;
}
.list-site-nav:hover .site-nav__link::after{
    width: 100%;
}
.site-nav__link {
    color: #333;
}
.site-nav__link::after {
    display: block;
    content:"";
    margin-left: auto;
    margin-right: auto;
    width: 0;
    height: 3px;
    background-color:#000;
    transition: width .5s ease;
}
.search-form {
    width: 153px;
}
.search-input {
    width: 100%;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 6px;
    border: 0;
    border-bottom: 1px solid #333;
}
.search-input::placeholder {
    font-size: 15px;
    color: #666;
}
.search-input:focus {
    outline: 0;
}
.site-help {
    padding-bottom: 6px;
}
/* SITE PROMO  */
.site-promo {
    border-bottom: 2px solid #ddd;
    background-image: url(/img/red-watch.jpg);
    background-position: left calc(50% + 550px) center;
    background-repeat: no-repeat;
    background-size: contain;
}
.site-promo__content {
    justify-content: space-between;
}
.site-promo__content-wrapper {
    flex-direction: column;
    width: 490px;
    padding-top: 91px;
    padding-bottom: 185px;
}
.site-promo__heading {
    margin-bottom: 30px;
    font-size: 50px;
    line-height: 1.2;
}
.site-promo__text {
    padding-left: 40px;
    margin-bottom: 30px;
    border-left: 3px solid #888;
    color: #777;
}
.btn-link {
    align-self: flex-start;
    padding: 12px 38px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    background-color:var(--brand-color);
    color: #fff;
    transition:background-color .4s ease ;
}
.btn-link:hover {
    background-color:#c9514c;
}
.site-promo__img {
    height: 565px;
    margin-right: -250px;
    object-fit: contain;
}

/* SITE-ARTICLES  */
.site-articles {
    margin-top: 70px;
    margin-bottom: 70px;
}
.container {
}
.d-flex {
}
.site-articles__wrapper {
    justify-content: space-between;
}
.article-site {
    flex-direction: column;
    align-items: flex-start;
    width: 280px;
}
.article-site__title {
    margin-bottom: 30px;
    font-size: 18px;
    text-transform: uppercase;
    color: #222;

}
.article-site__text {
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
}
.article-site-divider {
    width: 8px;
    height: 8px;
    border: 0;
    margin: 0;
    background-color:#ddd;
    box-shadow: 18px 0px #ddd,
                36px 0px #ddd;
}
.article-site__link::before {
    content: "";
    width: 40px;
    height: 3px;
    margin-right: 10px;
    background-color:var(--brand-color);
    transition: width .4s ease;
}
.article-site__link {
    display: inline-flex;
    align-items: center;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.6;
    color: var(--brand-color);
}
.article-site__link:hover::before {
    width: 60px;
}

/* SITE-CTA */
.site-cta {
    margin-top: 70px;
    margin-bottom: 70px;
}
.container {
}
.d-flex {
}
.site-cta__wrapper {
    justify-content: space-between;
    align-items: center;
}
.site-cta-content {
    flex-direction: column;
    width: 490px;
}
.site-cta__heading {
    margin-bottom: 30px;
    font-size: 50px;
    line-height: 1.2;
}
.site-cta__text {
    padding-left: 40px;
    border-left:3px solid #888;
    margin-bottom: 30px;
    color: #777;
}
.site-cta__link {
    padding-left: 90px;
    padding-right: 90px;
}
.site-cta__img {
}
/* SITE TAKE CONTROL  */
.take-control {
    padding-top: 240px;
    padding-bottom: 240px;
    background-image: url(/img/runners.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}
.take-control__wrapper {
    justify-content: flex-end;
}
.take-control__content {
    width: 490px;
    flex-direction: column;
    color:#fff;
}
.take-control__heading {
    font-size: 50px;
    line-height: 1.2;
    margin-bottom: 30px;
}
.take-control__text {
    padding-left: 40px;
    border-left:3px solid #fff;
    margin-bottom: 30px;

}
.take-control__link {
    padding-left: 46px;
    padding-right: 46px;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .site-promo {
        background-image: url(/img/red-watch@2x.jpg);
    }
    .take-control {
        background-image: url(/img/runners@2x.jpg);
    }

}